<% if @users %>
  <ul class="w-11/12 mx-auto pt-10 border-t-2">
    <%= render @users %>
  </ul>
<% else %>
  <div class="w-11/12 mx-auto pt-10 border-t-2">
    <%= render 'shared/microposts', microposts: @microposts %>
  </div>
<% end %>
