<li class="inline-block w-24 md:w-32 py-3 md:py-6 px-1 md:px-2 mb-4 ml-2 md:ml-5 border border-gray-800 rounded text-center">
  <div class="">
    <%= link_to avatar_for(user, size: 70), user, class: 'inline-block mb-2' %>
  </div>
  <div class="">
    <%= link_to user.name, user, class: 'inline-block h-12 overflow-y-scroll' %>
  </div>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "delete", user, method: :delete, data: { confirm: "削除を実行します" }, class: 'btn-red px-2' %>
  <% end %>
</li>
