<% provide(:title, 'アカウント編集') %>
<% provide(:button_text, '更新') %>

<div class="w-4/5 mx-auto my-10">
  <div class="max-w-sm mx-auto">
    <div class="mb-5 text-center">
      <h1 class="text-2xl text-center mr-3 inline-block align-middle">アカウント編集</h1>
      <a href="https://gravatar.com/emails" target="_blank" class="inline-block align-middle rounded-full hover:bg-blue-700 hover:bg-opacity-50"><%= gravatar_for current_user %></a>
    </div>
    <%= render 'edit_form' %>
    <% unless current_user.admin? %>
    <%= link_to "この投稿を削除", current_user, method: :delete, data: { confirm: 'このアカウントを削除します。この操作は取り消せません。よろしいですか？' } %>
    <% end %>
  </div>
</div>