<% provide(:title, 'プロフィール編集') %>
<% provide(:button_text, '更新') %>

<div class="w-4/5 mx-auto my-10">
  <div class="max-w-sm mx-auto">
    <div class="mb-5 text-center">
      <h1 class="text-2xl text-center mr-3 inline-block align-middle">プロフィール編集</h1>
      <a href="https://gravatar.com/emails" target="_blank" class="inline-block align-middle rounded-full hover:bg-indigo-300 hover:bg-opacity-50"><%= gravatar_for @user %></a>
    </div>
    <%= render 'form' %>
  </div>
</div>