<% if @user.errors.any? %>
  <div class="text-gray-600 opacity-50 mb-5">
    <div class="h-6">
      登録を完了できませんでした
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li class="text-sm h-5"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
