@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*, *::before, *::after {
  box-sizing: inherit;
}

/* form入力エラー時に自動で追加されるクラスの影響をなくす */
.field_with_errors {
  display: contents;
}

/* ページネーション */
.page {
  @apply mx-1 text-xl;
}
.current {
  @apply border-b border-black;
}
.prev {
  @apply mx-1;
}

/* タイトル */
.page-title {
  @apply border-b-2 w-11/12 mt-12 mx-auto pl-10 text-2xl;
}

/* フッター */
.footer_icon {
  @apply block text-center;
}
.footer_icon:hover {
  color: #b2b2b2;
}

/* ラベル */
.label {
  @apply inline-block;
}
.field {
  @apply block border w-full h-8 rounded;
}

/* 三角形 */
.triangle:hover::before {
  content: '';
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 13.8564px solid #2d3748;
}

/* 数字 */
.number {
  @apply p-1 rounded-md text-indigo-500 text-2xl;
}
.number:hover {
  @apply bg-indigo-300 text-white;
}

/* アラート */
.alert {
  @apply fixed top-0 w-full px-4 text-center opacity-0;
  margin-top: 61px;
  -moz-animation: fadeout 5s linear 0s forwards;
  /* Firefox */
  -webkit-animation: fadeout 5s linear 0s forwards;
  /* Safari and Chrome */
  -o-animation: fadeout 5s linear 0s forwards;
  /* Opera */
  animation: fadeout 5s linear 0s forwards;
}
@media screen and (min-width: 1024px) {
  .alert {
    width: calc(100% - 224px);
  }
}
@-webkit-keyframes fadeout {
	0% {
    height: auto;
		opacity : 75%;
	}
	80%{
    height: auto;
    opacity: 50%;
	}
	100% {
		opacity: 0;
	}
}
.alert-success{
  @apply bg-green-300 text-green-800;
}
.alert-info {
  @apply bg-gray-300 text-gray-800;
}
.alert-danger {
  @apply bg-red-300 text-red-800;
}
.alert-warning {
  @apply bg-red-300 text-red-800 whitespace-pre-line;
}

/* ボタン */
.btn-blue {
  @apply border border-purple-500 rounded-full bg-white text-purple-500;
}
.btn-blue:hover {
  @apply bg-purple-500 text-white;
}
.margin-bottom-2px {
  margin-bottom: 2px;
}
.btn-red {
  @apply border border-red-500 rounded-full bg-red-500 text-white;
}
.btn-red:hover {
  @apply bg-white text-red-500;
}
.btn-green {
  @apply border border-green-400 bg-white rounded-full text-green-400;
}
.btn-green:hover {
  @apply bg-green-400 text-white;
}
.btn-regreen {
  margin-top: 1px;
  @apply border-2 border-green-400 bg-green-400 text-white;
}
.btn-regreen:hover {
  @apply bg-white text-green-400;
}
.btn-disabled {
  @apply border border-gray-400 rounded-full bg-gray-300;
}
.btn-disabled:hover {
  @apply bg-gray-400;
}
.map-btn {
  @apply py-2 px-4 rounded-sm shadow bg-white cursor-pointer;
}
.map-btn:hover {
  @apply text-black;
}

/* タグ */
.tag {
  @apply inline-block mb-2 px-3 border rounded-full bg-indigo-400 text-white;
}
.tag:hover {
  @apply  bg-indigo-500;
}

/* 並び替えボタン */
.radio-inline__input {
  display: none;
}
.radio-inline__label {
  display: inline-block;
  border-radius: 3px;
  transition: all .2s;
}
.radio-inline__label:hover {
  @apply underline;
}
@media screen and (min-width: 640px) {
  .radio-inline__label {
    margin: 0 30px;
  }
}
.radio-inline__input:checked + .radio-inline__label {
  background: #B54A4A;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.radio-inline__input:focus + .radio-inline__label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

/* micropostをモーダル表示する操作 */
.grad-item {
  overflow: hidden;
  height: 0;
}
.grad-trigger {
  display: none;
}
.grad-btn {
  background-color: white;
  cursor: pointer;
}
.display-div {
  @apply p-2 border shadow-md rounded-lg;
}
@media screen and (min-width: 768px) {
  .display-div {
    @apply flex justify-between;
  }
}
@media screen and (min-width: 768px) {
  .image-div {
    min-width: 200px;
  }
}