@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.label {
  @apply inline-block;
}

.field {
  @apply block border w-full h-8 rounded;
}

.alert {
  @apply text-center;
}

.alert-success{
  @apply mx-auto my-2 text-green-400;
}

.alert-info {
  @apply mx-auto my-2 text-gray-600 text-opacity-75;
}

.alert-danger {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  @apply text-sm text-red-800 text-opacity-75;
}

.alert-warning {
  @apply my-2 text-sm text-red-800 text-opacity-75 whitespace-pre-line;
}

.btn {
  @apply text-center text-white bg-green-400 rounded-md;
}

.btn:hover {
  @apply text-gray-700 bg-green-500;
}

.btn:hover img {
  @apply  opacity-50;
}
