<% if microposts.present? %>
  <h3 id="search-conditions"></h3>
  <ol id="microposts" class="microposts">
    <%= render partial: 'microposts/micropost', collection: microposts %>
  </ol>
  <% if microposts.page(2).present? %>
    <%= paginate microposts, remote: true %>
  <% end %>
<% else %>
  <a href="/">home</a>
  <p>検索結果なし。</p>
<% end %>
