<% unless params[:search].blank? && params[:prefecture_id].blank? && params[:period_id].blank? %>

  <% if params[:search].present? %>
  "<span class="font-thin"><%= params[:search] %></span>"
  <% end %>

  <% if params[:prefecture_id].present? %>
  "<%= Prefecture.find(params[:prefecture_id]).name %>"
  <% end %>

  <% if params[:period_id].present? %>
  "<%= Period.find(params[:period_id]).name %>"
  <% end %>

  の検索結果

<% end %>




