<footer class="sm:hidden h-16 bg-white border fixed bottom-0 inset-x-0">
  <nav class="h-16 text-yt-gray flex justify-around items-center">
    <div>
      <a href="#">
        <%= image_tag("list.svg", alt: "list", width: "40px", class: "")%>
        <p class="h-5">一覧</p>
      </a>
    </div>
    <div>
      <a href="#">
        <%= image_tag("map.svg", alt: "map", width: "40px", class: "")%>
        <p class="h-5">マップ</p>
      </a>
    </div>
    <div>
      <a href="#">
        <%= image_tag("search.svg", alt: "serch", width: "40px", class: "")%>
        <p class="h-5">検索</p>
      </a>
    </div>
  </nav>
</footer>