<footer class="fixed lg:hidden bottom-0 inset-x-0 h-12 border bg-white">
  <nav class="flex justify-around items-center h-12 pt-1 text-gray-500 text-center">
    <a href="/" class="footer_icon">
      <%= image_tag("home.svg", alt: "list", width: "30px", class: "mx-auto")%>
      <p class="h-5 text-sm leading-4">ホーム</p>
    </a>
    <a href="/map" class="footer_icon">
      <%= image_tag("map.svg", alt: "map", width: "30px", class: "mx-auto")%>
      <p class="h-5 text-sm leading-4">マップ</p>
    </a>
    <a href="/microposts" class="footer_icon">
      <%= image_tag("search.svg", alt: "serch", width: "30px", class: "mx-auto")%>
      <p class="h-5 text-sm leading-4">検索</p>
    </a>
  </nav>
</footer>
<div class="lg:hidden h-12"></div>
