<footer class="lg:hidden h-12 bg-white border fixed bottom-0 inset-x-0">
  <nav class="h-12 pt-1 text-yt-gray flex justify-around items-center">
    <div class="">
      <a href="/" class="">
        <%= image_tag("home.svg", alt: "list", width: "30px", class: "mx-auto")%>
        <p class="h-5 leading-4 text-sm">ホーム</p>
      </a>
    </div>
    <div class="">
      <a href="#" class="">
        <%= image_tag("list.svg", alt: "list", width: "30px", class: "mx-auto")%>
        <p class="h-5 leading-4 text-sm">一覧</p>
      </a>
    </div>
    <div class="">
      <a href="/map" class="">
        <%= image_tag("map.svg", alt: "map", width: "30px", class: "mx-auto")%>
        <p class="h-5 leading-4 text-sm">マップ</p>
      </a>
    </div>
    <div class="">
      <a href="#" class="">
        <%= image_tag("search.svg", alt: "serch", width: "30px", class: "mx-auto")%>
        <p class="h-5 leading-4 text-sm">検索</p>
      </a>
    </div>
  </nav>
</footer>
<div class="h-12 lg:hidden"></div>
