<header class="p-1 flex justify-between">
  <div>
    <%= link_to image_tag("4.png", alt: "applogo", width: "40px", class: "align-middle rounded"),root_url%>
  </div>
  <div class="w-3/5 table">
    <a href="#" class="align-middle table-cell text-green-600 hover:text-green-900"><div class="text-xs text-center">簡単<br>ログイン</div></a>
    <a href="#" class="align-middle table-cell text-green-600 hover:text-green-900"><div class="text-xs text-center">ログイン</div></a>
    <a href="#" class="rounded-md align-middle table-cell text-white bg-green-400 hover:text-gray-700 hover:bg-green-500"><div class="text-xs text-center">新規登録</div></a>
  </div>
</header>